body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

form > div {
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input,
select {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #ff9800;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.msgp {
  background-color: #ccc;
  text-align: center;
  padding: 0;
  margin: 0px;
  border-radius: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  color: azure;
}
